'name': 'Academic (Markdown)'
'scopeName': 'source.academic'
'fileTypes': [
  'markdown'
  'md'
  'mdown'
  'mkd'
  'mkdown'
  'ron'
]
'patterns': [
  {
    'match': '(?<=^|\\s)(\\*{3}[^\\*]+\\*{3})'
    'name': 'markup.bold.italic.academic'
  }
  {
    'match': '(?<=^|\\s)(_{3}[^_]+_{3})'
    'name': 'markup.bold.italic.academic'
  }
  {
    'match': '(?<=^|\\s)(\\*{2}[^\\*]+\\*{2})'
    'name': 'markup.bold.academic'
  }
  {
    'match': '(?<=^|\\s)(_{2}[^_]+_{2})'
    'name': 'markup.bold.academic'
  }
  {
    'match': '(?<=^)(\\*[^\\s\\*][^\\*]*\\*)'
    'name': 'markup.italic.academic'
  }
  {
    'match': '(?<=\\s)(\\*[^\\*]+\\*)'
    'name': 'markup.italic.academic'
  }
  {
    'match': '(?<=^|\\s)(_[^_]+_)'
    'name': 'markup.italic.academic'
  }
  {
    'begin': '^#{1}\\s+'
    'end': '$'
    'name': 'markup.heading.heading-1.academic'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^#{2}\\s+'
    'end': '$'
    'name': 'markup.heading.heading-2.academic'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^#{3}\\s+'
    'end': '$'
    'name': 'markup.heading.heading-3.academic'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^#{4}\\s+'
    'end': '$'
    'name': 'markup.heading.heading-4.academic'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^#{5}\\s+'
    'end': '$'
    'name': 'markup.heading.heading-5.academic'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^#{6}\\s+'
    'end': '$'
    'name': 'markup.heading.heading-6.academic'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'match': '(&)[a-zA-Z]+(;)'
    'name': 'constant.character.entity.academic'
    'captures':
      '1':
        'name': 'punctuation.definition.entity.academic'
      '2':
        'name': 'punctuation.definition.entity.academic'
  }
  {
    'match': '(&)#[0-9]+(;)'
    'name': 'constant.character.entity.academic'
    'captures':
      '1':
        'name': 'punctuation.definition.entity.academic'
      '2':
        'name': 'punctuation.definition.entity.academic'
  }
  {
    'match': '^\\s*[\\*]{3,}\\s*$'
    'name': 'comment.hr.academic'
  }
  {
    'match': '^\\s*[-]{3,}\\s*$'
    'name': 'comment.hr.academic'
  }
  {
    'begin': '^\\s*`{3,}\\s*coffee-?(script)?\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.coffee.academic'
    'contentName': 'source.coffee'
    'patterns': [
      {
        'include': 'source.coffee'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*(javascript|js)\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.js.academic'
    'contentName': 'source.js'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*json\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.json.academic'
    'contentName': 'source.json'
    'patterns': [
      {
        'include': 'source.json'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*css\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.css.academic'
    'contentName': 'source.css'
    'patterns': [
      {
        'include': 'source.css'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*less\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.less.academic'
    'contentName': 'source.css.less'
    'patterns': [
      {
        'include': 'source.css.less'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*xml\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.xml.academic'
    'contentName': 'text.xml'
    'patterns': [
      {
        'include': 'text.xml'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*(ruby|rb)\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.ruby.academic'
    'contentName': 'source.ruby'
    'patterns': [
      {
        'include': 'source.ruby'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*java\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.java.academic'
    'contentName': 'source.java'
    'patterns': [
      {
        'include': 'source.java'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*(sh|bash)\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.shell.academic'
    'contentName': 'source.shell'
    'patterns': [
      {
        'include': 'source.shell'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*py(thon)?\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.python.academic'
    'contentName': 'source.python'
    'patterns': [
      {
        'include': 'source.python'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*(objc|objective-c)\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.objc.academic'
    'contentName': 'source.objc'
    'patterns': [
      {
        'include': 'source.objc'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*html\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.html.academic'
    'contentName': 'source.html.basic'
    'patterns': [
      {
        'include': 'text.html.basic'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}\\s*ya?ml\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.code.yaml.academic'
    'contentName': 'source.yaml'
    'patterns': [
      {
        'include': 'source.yaml'
      }
    ]
  }
  {
    'begin': '^\\s*`{3,}.*$'
    'beginCaptures':
      '0':
        'name': 'support.academic'
    'end': '^\\s*`{3,}$'
    'endCaptures':
      '0':
        'name': 'support.academic'
    'name': 'markup.raw.academic'
  }
  {
    'match': '`[^`]+`'
    'name': 'markup.raw.academic'
  }
  {
    'match': '\\!?\\[([^\\]]*)\\]\\(([^\\)]+)\\)'
    'name': 'link'
    'captures':
      '1':
        'name': 'entity.academic'
      '2':
        'name': 'markup.underline.link.academic'
  }
  {
    'match': '\\!?\\[([^\\]]*)\\]\\[([^\\]]+)\\]'
    'name': 'link'
    'captures':
      '1':
        'name': 'entity.academic'
      '2':
        'name': 'markup.underline.link.academic'
  }
  {
    'match': '^\\s*\\[([^\\]]+)\\]\\s*:\\s*<([^>]+)>'
    'name': 'link'
    'captures':
      '1':
        'name': 'entity.academic'
      '2':
        'name': 'markup.underline.link.academic'
  }
  {
    'match': '^\\s*\\[([^\\]]+)\\]\\s*:\\s*(\\S+)'
    'name': 'link'
    'captures':
      '1':
        'name': 'entity.academic'
      '2':
        'name': 'markup.underline.link.academic'
  }
  {
    'match': '^\\s*([\\*\\+-])[ \\t]+'
    'captures':
      '1':
        'name': 'variable.unordered.list.academic'
  }
  {
    'match': '^\\s*(\\d*\\.)[ \\t]+'
    'captures':
      '1':
        'name': 'variable.ordered.list.academic'
  }
  {
    'match': '^\\s*(>)(.*)'
    'captures':
      '1':
        'name': 'support.quote.academic'
      '2':
        'name': 'comment.quote.academic'
  }
##############################################################################
# Pandoc specific things
##############################################################################


  {
    "match": "(@)(\\w+)"
    "captures":
      "1":
        "name": "variable.cite.pandoc"
      "2":
        "name": "string.identifier.pandoc"
  }
  # {
  #   'begin': '^\\s*`{3,}\\s*json\\s*$'
  #   'beginCaptures':
  #     '0':
  #       'name': 'support.academic'
  #   'end': '^\\s*`{3,}$'
  #   'endCaptures':
  #     '0':
  #       'name': 'support.academic'
  #   'name': 'markup.code.json.academic'
  #   'contentName': 'source.json'
  #   'patterns': [
  #     {
  #       'include': 'source.json'
  #     }
  #   ]
  # }
  {
    'begin': '\\$'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.tex'
    'end': '\\$'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.tex'
    'name': 'string.other.math.tex'
    "patterns": [
      "include": "text.tex"
    ]
  }
  {
    'begin': '\\$\\$'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.tex'
    'end': '\\$\\$'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.tex'
    'name': 'string.other.math.block.tex'
    "patterns": [
      "include": "text.tex"
    ]
  }
  {
    'begin': "(^\\s*)?(?=\\\\begin\\{(?:equation|align)(\\}))"
    'end': "(^\\s*)?(\\\\end\\{(?:equation|align)(\\}))"
    'name': 'string.other.math.block.tex'
    "patterns": [
      "include": "text.tex"
    ]
  }
  # {
  #   'match': '(?<=^|\\s|"|\'|\\(|\\[)(@)(\\w+)(?=\\s|"|\'|\\.|,|\\)|\\])'
  #   'captures':
  #     '1':
  #       'name': 'variable.mention.academic'
  #     '2':
  #       'name': 'string.username.academic'
  # }
  # {
  #   'match': '(?<=^|\\s|"|\'|\\(|\\[)(#)(\\d+)(?=\\s|"|\'|\\.|,|\\)|\\])'
  #   'captures':
  #     '1':
  #       'name': 'variable.issue.tag.academic'
  #     '2':
  #       'name': 'string.issue.number.academic'
  # }
]
